
.title {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(76, 216, 255, 0.8),
        rgba(30, 108, 217, 0.8)
      ),
      url("https://images.pexels.com/photos/213399/pexels-photo-213399.jpeg");
  
    background-size: cover;
    background-position: top;
    position: relative;
    animation: moveInLeft 2s;
  
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}